In [5]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\str\appdata\local\programs\python\python313\lib\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\str\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2.2.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\str\appdata\roaming\python\python313\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\str\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\str\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: six>=1.5 in c:\users\str\appdata\roaming\python\python313\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [6]:
pip install numpy

Requirement already satisfied: numpy in c:\users\str\appdata\local\programs\python\python313\lib\site-packages (2.2.1)
Note: you may need to restart the kernel to use updated packages.

In [1]:
import pandas as pd

df = pd.read_csv(r'C:\Users\str\Datascience\airbnb_.csv')

In [2]:
df.head()

,Date,Arriving by date,Type,Confirmation Code,Booking date,Start date,End date,Nights,Guest,Listing,...,Reference code,Currency,Amount,Paid out,Service fee,Fast pay fee,Cleaning fee,Gross earnings,Occupancy taxes,Earnings year
0,12/09/2024,12/16/2024,Payout,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0MS0R9nmKgZpjKSzryozduJGnzo1,HUF,NaN,86728.0,NaN,NaN,NaN,NaN,NaN,NaN
1,12/09/2024,NaN,Reservation,HMHWN9Y2RK,11/25/2024,12/08/2024,12/11/2024,3.0,Minglei Cheng,Chill Garden Loft,...,NaN,HUF,86728.0,NaN,2682.0,NaN,14000.0,89410.0,0.0,2024.0
2,11/17/2024,11/22/2024,Payout,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0MS0RCE1pqztwI5gog01zCCtRB5,HUF,NaN,88308.0,NaN,NaN,NaN,NaN,NaN,NaN
3,11/17/2024,NaN,Reservation,HMB55EENBD,11/03/2024,11/15/2024,11/18/2024,3.0,Franziska Klier,Chill Garden Loft,...,NaN,HUF,88308.0,NaN,2731.0,NaN,14000.0,91039.0,0.0,2024.0
4,11/10/2024,11/15/2024,Payout,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0MS0R3NUIKWCM4ylJKkHkfLGa5S,HUF,NaN,61054.0,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
df['IFA'] = 510

In [14]:
df.head( )

,Date,Arriving by date,Type,Confirmation Code,Booking date,Start date,End date,Nights,Guest,Listing,...,Currency,Amount,Paid out,Service fee,Fast pay fee,Cleaning fee,Gross earnings,Occupancy taxes,Earnings year,IFA
0,12/09/2024,12/16/2024,Payout,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,HUF,NaN,86728.0,NaN,NaN,NaN,NaN,NaN,NaN,510
1,12/09/2024,NaN,Reservation,HMHWN9Y2RK,11/25/2024,12/08/2024,12/11/2024,3.0,Minglei Cheng,Chill Garden Loft,...,HUF,86728.0,NaN,2682.0,NaN,14000.0,89410.0,0.0,2024.0,510
2,11/17/2024,11/22/2024,Payout,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,HUF,NaN,88308.0,NaN,NaN,NaN,NaN,NaN,NaN,510
3,11/17/2024,NaN,Reservation,HMB55EENBD,11/03/2024,11/15/2024,11/18/2024,3.0,Franziska Klier,Chill Garden Loft,...,HUF,88308.0,NaN,2731.0,NaN,14000.0,91039.0,0.0,2024.0,510
4,11/10/2024,11/15/2024,Payout,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,HUF,NaN,61054.0,NaN,NaN,NaN,NaN,NaN,NaN,510

In [18]:

Billable_Confirmation_Code = df['Confirmation Code'][6]
print('Billable_Confirmation_Code:', Billable_Confirmation_Code)

Billable_Confirmation_Code: HM9K8CWF32

In [30]:
print('What confirmation code you are looking for?:')

What confirmation code you are looking for?:

In [31]:
# prompt: let me able to answer this question and add the confirmation code

# ... (your existing code) ...

print('What confirmation code you are looking for?:')
confirmation_code_to_find = input()

try:
    row_index = df.index[df['Confirmation Code'] == confirmation_code_to_find].tolist()[0]
    print(f"The row index for Confirmation Code '{confirmation_code_to_find}' : {row_index}")

    start_date = df.loc[row_index, 'Start date']
    print(f"The Start date for Confirmation Code '{confirmation_code_to_find}': {start_date}")

    end_date = df.loc[row_index, 'End date']
    print(f"The End date for Confirmation Code '{confirmation_code_to_find}': {end_date}")

    end_date = pd.to_datetime(end_date, format='%m/%d/%Y')
    start_date = pd.to_datetime(start_date, format='%m/%d/%Y')
    length_of_stay = (end_date - start_date).days
    print(f"The Length of stay for Confirmation Code '{confirmation_code_to_find}': {length_of_stay}")

    Brutto_kereset = df.loc[row_index, 'Gross earnings']
    print(f"Házigazda brutto keresete azaz a Szálázandó szobaár a vedég felé '{confirmation_code_to_find}': {Brutto_kereset}")

    Airbnb_fee = df.loc[row_index, 'Service fee']
    print(f"Airbnb díj '{confirmation_code_to_find}': {Airbnb_fee}")

    Kifizetes = df.loc[row_index, 'Amount']
    print(f"Eszter ezt az utalást kapta '{confirmation_code_to_find}': {Kifizetes}")



except IndexError:
    print(f"Confirmation Code '{confirmation_code_to_find}' not found in the DataFrame.")


print('Mennyi felnőtt érkezett?:')
felnottek_szama = int(input())
print(f"A vendégek száma: {felnottek_szama}")

try:
    IFA = df.loc[row_index, 'IFA']
    total_IFA = (length_of_stay * felnottek_szama * IFA)
    print(f"total_IFA: {total_IFA} ")
except:
    pass # or handle the exception in a more specific way

Kezhez = (Brutto_kereset - Airbnb_fee - total_IFA)
print(f"Kezhez: {Kezhez}")

naponta_szamlazando_woIFA = (Brutto_kereset - total_IFA) / length_of_stay
print(f"naponta_szamlazando IFA nélkül: {naponta_szamlazando_woIFA}")

msz_szolgdij = (Kezhez * 0.3)
print(f"Magánszálláshely szolgáltatási díj - 30%: {msz_szolgdij}")

data = {
    'Confirmation Code': [confirmation_code_to_find],
    'Start Date': [start_date],
    'End Date': [end_date],
    'Éjszakák száma': [length_of_stay],
    'Vendég felé számlázandó (Brutto)': [Brutto_kereset],
    'Airbnb Fee': [Airbnb_fee],
    'Eszter ennyi utalást kapott': [Kifizetes],
    'Felnőttek száma': [felnottek_szama],
    'Total IFA': [total_IFA],
    'Ennyi marad Eszternél': [Kezhez],
    'Naponta számlázandó (ex. IFA)': [naponta_szamlazando_woIFA],
    'Üzemeltetés szolgáltatási díj 30%': [msz_szolgdij]
}

results_df = pd.DataFrame(data)
print(results_df)

What confirmation code you are looking for?:
The row index for Confirmation Code 'HM9K8CWF32' : 17
The Start date for Confirmation Code 'HM9K8CWF32': 08/10/2024
The End date for Confirmation Code 'HM9K8CWF32': 08/12/2024
The Length of stay for Confirmation Code 'HM9K8CWF32': 2
Házigazda brutto keresete azaz a Szálázandó szobaár a vedég felé 'HM9K8CWF32': 129000.0
Airbnb díj 'HM9K8CWF32': 3870.0
Eszter ezt az utalást kapta 'HM9K8CWF32': 125130.0
Mennyi felnőtt érkezett?:
A vendégek száma: 10
total_IFA: 10200
Kezhez: 114930.0
naponta_szamlazando IFA nélkül: 59400.0
Magánszálláshely szolgáltatási díj - 30%: 34479.0
  Confirmation Code Start Date   End Date  Éjszakák száma  \
0        HM9K8CWF32 2024-08-10 2024-08-12               2

   Vendég felé számlázandó (Brutto)  Airbnb Fee  Eszter ennyi utalást kapott  \
0                          129000.0      3870.0                     125130.0

   Felnőttek száma  Total IFA  Ennyi marad Eszternél  \
0               10      10200               114930.0

   Naponta számlázandó (ex. IFA)  Üzemeltetés szolgáltatási díj 30%
0                        59400.0                            34479.0

In [32]:
results_df.head()

,Confirmation Code,Start Date,End Date,Éjszakák száma,Vendég felé számlázandó (Brutto),Airbnb Fee,Eszter ennyi utalást kapott,Felnőttek száma,Total IFA,Ennyi marad Eszternél,Naponta számlázandó (ex. IFA),Üzemeltetés szolgáltatási díj 30%
0,HM9K8CWF32,2024-08-10,2024-08-12,2,129000.0,3870.0,125130.0,10,10200,114930.0,59400.0,34479.0